<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Wiki</title>
    <%- include('imports.ejs') %>
    <script>
        function someFunction(option){
            if(option === '/manager/sections'){
                window.open('/notes'+option,'targetWindow',
                                   `toolbar=no,
                                    location=no,
                                    status=no,
                                    menubar=no,
                                    scrollbars=yes,
                                    resizable=yes,
                                    width=1000
                                    height=1000`)
            }
            if(option === '/demoFU'){
                window.open('/notes'+option,'targetWindow',
                                   `toolbar=no,
                                    location=no,
                                    status=no,
                                    menubar=no,
                                    scrollbars=yes,
                                    resizable=yes,
                                    width=200
                                    height=200`)
            }
            
        }

        $("document").ready(()=>{
           console.log("doc is ready");
           $(".dropdown-toggle").dropdown();
        });
        
    </script>
</head>
<body>
    
    <div class="container-fluid">
        <%- include('nav.ejs') %>
        <div class="div2">
            <h2> Here you can find the available sections for your notes </h2>
            <div class="container text-center" id="sections">
                <div class="row no-gutters" id="main_list" >
                    <% for(let i = 0; i < sections.length;i++){ %>
                        <div class="card-container col-md-6 col-lg-4 col-xl-4 mt-4">
                            <div class="card">
                                <h5 class="card-header text-bg-light"><%= sections[i].name %></h5>
                                <div class="card-body">
                                    <p class="card-text"><%= sections[i].description %></p>
                                    <a href="/notes/sections/<%= sections[i].id %>"  class="btn btn-primary">View  More...</a>
                                </div>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</body>
</html>