<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sections List</title>
    <%- include('imports.ejs') %>
</head>
<body>
    <div class="container-fluid">
        <%- include('nav.ejs') %>
        <div class="div2">
            <h1><%=name %></h1>
            <h2> <%=description%> </h2>
            <div class="container text-center" id="sections">
                <div class="row no-gutters" id="main_list" >
                    <% if(topics.length === 0) { %>
                        <h2>Nothing here yet.</h2>
                        <h5>Fell free to add new topic <a href="#">here</a></h5>
                    <% }%>
                    <% for(let i = 0; i < topics.length;i++){ %>
                        <div class="card-container col-md-6 col-lg-4 col-xl-4 mt-4">
                            <div class="card">
                                <h5 class="card-header text-bg-light"><%= topics[i].name %></h5>
                                <div class="card-body">
                                    <a href="/notes/topic/<%= topics[i].id %>"  class="btn btn-primary">Read about this</a>
                                </div>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</body>
</html>